<div class="container-fluid">
    <div class="row justify-content-center my-4">
        <div class="col-md-4 mx-4 mb-5">
            <h2>Reset password</h2>

            <div *ngIf="showPassNotification" class="notification-section text-center">
                <app-notification [type]="notificationPassStatus" [content]="notificationPassContent"></app-notification>
            </div>

            <form [formGroup]="passwordResetForm" (ngSubmit)="changePassword()">
                <div class="form-group">
                    <input type="password" class="form-control my-3" placeholder="New password" formControlName="password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control my-3" placeholder="Repeat new password" formControlName="repeatPassword">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-12">Change password</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 mx-4">
            <h2>Application and system info</h2>
            <p>Server version: {{ serverVersion }}</p>
            <p>Client version: {{ appVersion }}</p>
            <p>Agent: {{ agent }}</p>
            <p>Platform: {{ platform }}</p>
            <p>Cookies are: {{ (cookiesEnabled == true) ? 'enabled' : 'disabled' }}</p>
        </div>
    </div>
</div>