<div class="card mx-4">
    <div [ngClass]="headerClass()">
        {{ objective.name }}

        <div class="form-check form-switch float-end">
            <input class="form-check-input" type="checkbox" [(ngModel)]="status" (change)="changeState()">
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="objective.daily == true">
            <p *ngIf="objective.finished == true" class="card-text email">
                Job done, see you tomorrow!
            </p>
        </div>
        <div *ngIf="objective.daily == false">
            <p *ngIf="objective.notify == true" class="card-text email">
                You will receive an e-mail notification.
            </p>
            
            <div *ngIf="objective.description.length > 0 && objective.finished == false">
                <p class="card-text my-3">{{ objective.description }}</p>
            </div>
    
            <div *ngIf="objective.daily == false">
                <p class="card-text m-0"><small class="text-muted">Start: {{ objective.startingDate }}</small></p>
                <p class="card-text"><small class="text-muted">Deadline: {{ objective.endingDate }}</small></p>
            </div>
        </div>
        
        <a class="action" (click)="delete()">Delete</a>
    </div>
</div>
