.card-header {
    /*background-image: linear-gradient(135deg, var(--balto-primary), var(--balto-secondary)) !important;*/
    /*background-color: var(--balto-secondary);*/
    /*color: var(--balto-primary-focus) !important;*/
}

.objective-finished {
    background-color: var(--balto-success-bg) !important;
    color: var(--bs-success) !important;
}

.objective-expired {
    background-color: var(--balto-danger-bg) !important;
    color: var(--bs-danger) I !important;
}

.complete {
    color: var(--balto-primary);
    cursor: pointer;
}

.complete:hover {
    color: var(--balto-primary-focus);
}

.action {
    color: var(--balto-primary-focus);
    text-decoration: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
}

.email {
    color: var(--bs-success);
}

.deadline {
    color: var(--bs-danger) !important;
}

.deadline-warning {
    color: var(--bs-warning) !important;
}