<div class="modal-container text-center">
    <h3>Create a new entry</h3>

    <div *ngIf="showNotification" class="notification-section">
        <app-notification [type]="'danger'" [content]="notificationContent"></app-notification>
    </div>

    <form [formGroup]="entryForm" (ngSubmit)="entryPostSubmit()">
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <textarea class="form-control my-3" placeholder="Content (optional)" formControlName="content"></textarea>
        </div>
        <div class="form-group">
            <select class="form-select form-select-lg my-3" aria-label="Priority" formControlName="priority">
                <option *ngFor="let p of priority" [value]="p.value">{{ p.name }}</option>    
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="yyyy-mm-dd (Click to select)" formControlName="startingDate" #startingDate="ngbDatepicker" (click)="startingDate.toggle()" ngbDatepicker>
        </div>
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="yyyy-mm-dd (Click to select)" formControlName="endingDate" #endingDate="ngbDatepicker" (click)="endingDate.toggle()" ngbDatepicker>
        </div>
        <div class="form-check my-3">
            <input type="checkbox" class="form-check-input" id="notifyCheckbox" formControlName="notify">
            <label class="form-check-label" for="notifyCheckbox">Inform about the upcoming deadline by e-mail.</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12">Create</button>
        </div>
    </form>
</div>
