<div class="modal-container">
    <h3>Create a new account</h3>
    <p>If you are an employee of a company that uses Balto&copy;, make sure that the team leader has not already created an account assigned to you.</p>

    <div *ngIf="showNotification" class="notification-section">
        <app-notification [type]="'danger'" [content]="notificationContent"></app-notification>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="form-group">
            <input type="email" class="form-control my-3" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
            <input type="email" class="form-control my-3" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <input type="password" class="form-control my-3" placeholder="Password" formControlName="password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control my-3" placeholder="Repeat password" formControlName="repeatPassword">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12">Sign in</button>
        </div>
    </form>
</div>
