.background-gradient {
    height: 100vh;
    background-image: linear-gradient(135deg, var(--balto-primary), var(--balto-secondary)); 
}

.form-container {
    background-color: var(--balto-white);
}

.logo-image {
    width: 10em;
}

.registration-label-button {
    cursor: pointer;
    color: var(--balto-primary);
    font-style: italic;
}