<div class="modal-body text-center py-4 px-4">
    <h2 class="">Sign up</h2>

    <p>If you are a team member, make sure that your account has not already been created 
        by the administrator, or use the registration data he gave you. After registration, 
        you must wait for the administrator to activate your account.</p>

    <form class="my-5 px-5" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control my-3" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control my-3" placeholder="Password" formControlName="password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control my-3" placeholder="Repeat password" formControlName="passwordRepeat">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12">Sign in</button>
        </div>
    </form>
</div>
