<div class="container-fluid">
    <div class="row justify-content-center my-4">
        <div class="col-lg-5 mx-4 mb-5 text-center">
            <div class="section-border px-3 py-3">
                <h2>Users</h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let u of users">
                                <th>{{ parseUserName(u) }}</th>
                                <th><button class="btn btn-primary" (click)="userActivation(u)">{{ (u.isActivated == true) ? 'Disactivate' : 'Activate' }}</button></th>
                                <th><button class="btn btn-primary" (click)="userChangeTeam(u)">Team</button></th>
                                <th><button class="btn btn-primary" (click)="userDelete(u)">Delete</button></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mx-4 mb-5 text-center">
            <div class="section-border px-3 py-3">
                <h2>Teams</h2>
                <button class="btn btn-primary my-2" (click)="addTeam()">Add team</button>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let t of teams">
                                <th>{{ t.name }}</th>
                                <th><button class="btn btn-primary" (click)="deleteTeam(t)">Delete</button></th>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>