h2, h4, li {
    color: var(--balto-primary-focus);
}

p {
    color: var(--balto-primary);
}

.section-border {
    border: 1px solid var(--balto-primary);
    border-radius: 15px;
}

.bg-default {
    background-color: var(--balto-primary) !important;
}