:root {
    --balto-primary: #734b6d;
    --balto-primary-accent: #3F293B;
    --balto-primary-fade: rgba(115, 75, 109, 0.4);
    --balto-secondary: #42275a;
    --balto-secondary-accent: #1B0F24;
    --balto-secondary-fade: rgba(66, 39, 90, 0.4);
    --balto-third: #986490;
    --balto-third-accent: #BE7DB4;
    --balto-white: #FFF;
    --balto-white-accent: rgb(224, 224, 224);
    --balto-black: #000;
    --balto-black-accent: rgb(36, 36, 36);
}