<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="section-border px-3 py-3">
                <app-summary-widget></app-summary-widget>
            </div>
        </div>
        <div class="col-md-5">
            <div class="section-border px-3 py-3">
                <h2>Chat is currently unavailable!</h2>
                <p>The chat feature will be added in future updates!</p>
            </div>
        </div>
    </div>
</div>
