<div *ngIf="note != null">
    <form class="mb-2" [formGroup]="noteForm">
        <div class="row mb-4 mt-2">
            <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" formControlName="name">
            </div>
            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="Note buttons group">
                    <button *ngIf="isOwner()" class="btn btn-primary mx-1 btn-sm" (click)="invite()">Invite</button>
                    <button *ngIf="isOwner()" class="btn btn-primary mx-1 btn-sm" (click)="delete()">Delete</button>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary btn-sm mx-1" id="noteCollaboratorsDropdown" ngbDropdownToggle>Users</button>
                        <div ngbDropdownMenu aria-labelledby="noteCollaboratorsDropdown" class="px-1">
                            <p [style.color]="parseUserColor(note.owner)">{{ parseUserForTable(note.owner) }}</p>
                            <p *ngFor="let user of note.readWriteUsers" [style.color]="parseUserColor(user)">{{ parseUserForTable(user) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <quill-editor class="content-editor" formControlName="content" (keyup)="saveRequestTimeout()"></quill-editor>
    </form>
</div>