<div *ngIf="note != null">
    <form class="mb-2" [formGroup]="noteForm">
        <input type="text" class="form-control my-3" formControlName="name">
        
        <ul>
            <li class="owner">Owner: {{ note.owner.name }} ({{ note.owner.email }})</li>
            <li *ngFor="let user of note.readWriteUsers" class="collab">Collaborator: {{ user.name }} ({{ user.email }})</li>
        </ul>
    
        <button class="btn btn-primary my-1 mx-1" (click)="save()">Save</button>
        <button *ngIf="isOwner()" class="btn btn-primary my-1 mx-1" (click)="invite()">Invite</button>
        <button *ngIf="isOwner()" class="btn btn-primary my-1 mx-1" (click)="delete()">Delete</button>
        <quill-editor class="content-editor" formControlName="content"></quill-editor>
    </form>
</div>