<div class="container-fluid">
    <div class="row my-4">
        <div class="col-lg-2 text-center">
            <select class="form-select form-select-sm" aria-label="Projects" (change)="selectProject()" [(ngModel)]="selectProjectId">
                <option *ngFor="let project of projects" [ngValue]="project.id">{{ project.name }}</option>    
            </select>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group" aria-label="Project buttons group">
                <button class="btn btn-primary btn-sm mx-1" (click)="addNew()">Add new project!</button>
                <button class="btn btn-primary btn-sm mx-1" (click)="addNewTrello()">Migrate from Trello!</button>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary btn-sm mx-1" id="settingsDropdown" ngbDropdownToggle>Settings</button>
                    <div ngbDropdownMenu aria-labelledby="settingsDropdown" class="px-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="ecvs" type="checkbox" [(ngModel)]="entryCompactView" (change)="entryCompactViewChange()">
                            <label class="form-check-label" for="ecvs">Compact view</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="ttvs" type="checkbox" [(ngModel)]="tableTypeView" (change)="tableTypeViewChange()">
                            <label class="form-check-label" for="ttvs">Table view (experimental)</label>
                        </div>
                    </div>
                </div>
            </div>    
        </div>    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div *ngIf="selectedProject != null">
                <app-project-table-type *ngIf="tableTypeView == true; else defaultView" [viewSettings]="viewSettings" (reloadEvent)="reload($event)"></app-project-table-type>
                
                <ng-template #defaultView>
                    <app-project [viewSettings]="viewSettings" (reloadEvent)="reload($event)"></app-project>
                </ng-template>
            </div>
        </div>
    </div>
</div>
