<div class="container-fluid">
    <div class="row justify-content-center my-4">
        <div class="col-lg-3 mx-4 text-center">
            <h1>Projects</h1>
            <p>These are your projects. Together with other users, you can easily manage project development and do a division of labor.</p>
        </div>
        <div class="col-lg-3 mx-4 text-center">
            <select class="form-select form-select-lg my-3" aria-label="Projects" (change)="selectProject()" [(ngModel)]="selectProjectId">
                <option *ngFor="let project of projects" [ngValue]="project.id">{{ project.name }}</option>    
            </select>
            <button class="btn btn-primary col-5 mx-2" (click)="addNew()">Add new project!</button>
            <button class="btn btn-primary col-5 mx-2" (click)="addNewTrello()">Migrate from Trello!</button>
        </div>
        <div class="col-lg-3 mx-4">
            <div class="px-1 mt-3">
                <h3>Settings</h3>
                <div class="form-check form-switch">
                    <input class="form-check-input" id="ecvs" type="checkbox" [(ngModel)]="entryCompactView" (change)="entryCompactViewChange()">
                    <label class="form-check-label" for="ecvs">Entries compact view</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" id="ttvs" type="checkbox" [(ngModel)]="tableTypeView" (change)="tableTypeViewChange()">
                    <label class="form-check-label" for="ttvs">Table view</label>
                </div> 
            </div>  
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div *ngIf="selectedProject != null">
                <app-project-table-type *ngIf="tableTypeView == true; else defaultView" [viewSettings]="viewSettings" (reloadEvent)="reload($event)"></app-project-table-type>
                
                <ng-template #defaultView>
                    <app-project [viewSettings]="viewSettings" (reloadEvent)="reload($event)"></app-project>
                </ng-template>
            </div>
        </div>
    </div>
</div>
