<div class="modal-container">
    <div class="title-section">
        <h3>{{ entry.name }}</h3>
        <p class="my-0">Added: {{ entry.startingDate }}</p>
        <p class="my-0">Deadline: {{ entry.endingDate }}</p>
    </div>

    <div class="mt-3" *ngIf="entry.finished == true">
        <p class="my-0 finished">This task was finished by:</p>
        <p class="my-0" [style.color]="userTeamColor()">{{ userFinished() }}</p>
        <p class="my-0 finished">on: {{ entry.finishDate }}</p>
    </div>

    <div class="mt-3" *ngIf="entry.finished == false">
        <p *ngIf="!isDeadline()" class="default">Deadline in: {{ deadlineInDays() }} days!</p>
        <p *ngIf="isDeadline()" class="danger">The deadline was: {{ deadlineInDays() }} days ago!</p>
    </div>

    <div>
        <p *ngIf="entry.notify == true" class="finished">The creator of this entry will receive a email notification!</p>
        <p *ngIf="entry.priority != 0">
            <span *ngIf="entry.priority == 1" [style.color]="'var(--bs-warning)'">This task is important!</span>
            <span *ngIf="entry.priority == 2" [style.color]="'var(--bs-danger)'">This task is crucial to the project!</span>
        </p>
    </div>

    <div *ngIf="showNotification" class="notification-section">
        <app-notification [type]="'danger'" [content]="notificationContent"></app-notification>
    </div>

    <form [formGroup]="entryForm" (ngSubmit)="entryPatchSubmit()">
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <textarea class="form-control my-3" placeholder="Content" formControlName="content"></textarea>
        </div>
        <div class="form-group">
            <select class="form-select form-select-lg my-3" aria-label="Priority" formControlName="priority">
                <option *ngFor="let p of priority" [value]="p.value">{{ p.name }}</option>    
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12">Update</button>
        </div>
    </form>

    <div class="delete-section mt-3">
        <p><span (click)="delete()">Delete entry!</span></p>
    </div>
</div>