.modal-container {
    background-color: #fff;
    padding: 3em;
    border-radius: 300px;
}

h3 {
    color: var(--balto-primary-focus) !important;
}

label {
    color: var(--balto-primary) !important;
}

.title-section p {
    color: var(--balto-primary) !important;
}

.default {
    color: var(--balto-primary) !important;
}

.finished {
    color: var(--bs-success) !important;
}

.danger {
    color: var(--bs-danger) !important;
}

.delete-section p {
    cursor: pointer;
    color: var(--bs-danger);
    font-size: 0.7rem;
}