<div class="container-fluid">
    <div class="row justify-content-center text-center my-4">
        <div class="col-md-6">
            <div *ngIf="showNotification" class="notification-section">
                <app-notification [type]="notificationType" [content]="notificationContent"></app-notification>
            </div>
            <button class="btn btn-primary col-6" (click)="addNew()">Add new objective!</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 mb-2">
            <div class="section-border py-3">
                <div class="mb-5 mx-4">
                    <h1>Objectives</h1>
                    <p>Here are your "one-off" tasks. They are only visible to you.</p>
                </div>
                
                <div class="mx-4" *ngIf="objectives.length == 0">
                    <h3>You have no objectives!</h3>
                    <p>You can add a new one by clicking the button below or above.</p>
                    <button class="btn btn-primary col-4" (click)="addNew()">Add new objective!</button>
                </div>

                <div *ngFor="let o of objectives" class="mb-4">
                    <app-card (objectiveDeleteEvent)="deleteEventReceiver($event)" (objectiveStateEvent)="stateChangeEventReceiver($event)" [objective]="o"></app-card>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-2">
            <div class="section-border py-3">
                <div class="mb-5 mx-4">
                    <h1>Daily objectives</h1>
                    <p>These are your daily, recurring tasks. Once done, they reset tomorrow. They are only visible to you.</p>
                </div>
                
                <div class="mx-4" *ngIf="objectivesDaily.length == 0">
                    <h3>You have no daily objectives!</h3>
                    <p>You can add a new one by clicking the button below or above, also remember to check the daily option.</p>
                    <button class="btn btn-primary col-4" (click)="addNew()">Add new objective!</button>
                </div>

                <div *ngFor="let od of objectivesDaily" class="mb-4">
                    <app-card (objectiveDeleteEvent)="deleteEventReceiver($event)" (objectiveStateEvent)="stateChangeEventReceiver($event)" [objective]="od"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>
