<div class="container-fluid">
    <div class="row justify-content-center my-4">
        <div class="col-md-3 mx-4 text-center">
            <h1>Notes</h1>
            <p>These are your notes. You can save various kinds of information as text files here and you can add other users to work together.</p>
        </div>
        <div class="col-md-3 mx-4">
            <select class="form-select form-select-lg my-3" aria-label="Notes" (change)="selectNote()" [(ngModel)]="selectId">
                <option *ngFor="let note of notes" [ngValue]="note.id">{{ note.name }}</option>    
            </select>
            <button class="btn btn-primary col-12" (click)="addNew()">Add new note!</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div *ngIf="selectedNote != null">
                <app-note (changesEvent)="changes($event)" (inviteEvent)="invite($event)" (deleteEvent)="delete($event)"></app-note>
            </div>
        </div>
    </div>
</div>
