h2, h3, h4 {
    color: var(--balto-primary-focus);
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

.border-panel {
    background-color: #fff;
    border: 1px var(--balto-primary) solid;
    border-radius: 15px;
}

.row-side-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.col-side-scroll {
    display: inline-block;
}

.single-table {
    background-color: rgb(243, 243, 243); 
    border-radius: 15px;
}

.single-table-entries {
    overflow-y: auto;
    height: 55vh;
}

.single-table-title {
    color: var(--balto-primary-focus);
    font-size: 1.2rem;
}

.single-table-delete {
    cursor: pointer;
    color: var(--bs-danger);
    font-size: 0.6rem;
}

.table-add-entry {
    cursor: pointer;
}

.table-add-entry:hover {
    font-weight: bold;
}