<div class="modal-container text-center">
    <h3>Invite a collaborator!</h3>
    <p>The collaborator will be able to edit your projects entries, but only you as the owner can invite others and delete whole projects.</p>

    <div *ngIf="showNotification" class="notification-section">
        <app-notification [type]="'danger'" [content]="notificationContent"></app-notification>
    </div>

    <p>You can pick a user from this list of registered users!</p>
    <select class="form-select form-select-lg my-3" (change)="selectUser()" [(ngModel)]="selectedUser">
        <option *ngFor="let user of users" [ngValue]="user">{{ user.name }}</option>    
    </select>

    <form class="mt-5" [formGroup]="inviteForm" (ngSubmit)="invitePostSubmit()">
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12">Invite</button>
        </div>
    </form>
</div>
