<div *ngIf="project != null">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="border-panel py-3 px-2">
                <h4 class="text-center">Tabels</h4>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr class="projectTable" *ngFor="let table of project.tabels">
                                <td class="projectTableElement" (click)="selectTable(table)">{{ table.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="addTable()">Add table!</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div *ngIf="selectedTable != null" class="border-panel py-3">
                <app-project-table [table]="selectedTable" [project]="project" (reloadEvent)="reload($event)"></app-project-table>
            </div>
        </div>
        <div class="col-md-2">
            <div class="border-panel py-3 px-2">
                <h4 class="text-center">Users</h4>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="owner">{{ parseUserForTable(project.owner) }}</td>
                            </tr>
                            <tr *ngFor="let user of project.readWriteUsers">
                                <td [ngClass]="parseUserForTableClass(user)">{{ parseUserForTable(user) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <button *ngIf="isOwner()" type="button" class="btn btn-primary" (click)="inviteUser()">Invite!</button>
                </div>   
            </div>
        </div>
    </div>
</div>