.leader, .owner {
    color: var(--balto-primary-focus);
}

.leader {
    font-weight: bold;
}

.default {
    color: var(--balto-primary);
}

.border-panel {
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border: 1px var(--balto-primary) solid;
    border-radius: 15px;
}

h4 {
    color: var(--balto-primary-focus);
}
